{
  "presets": [
    "module:metro-react-native-babel-preset",
    "@babel/typescript"
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "babel-plugin-styled-components",
    "@babel/plugin-proposal-export-default-from",
    "@babel/plugin-proposal-export-namespace-from",
    "module:react-native-dotenv",
    [
      "module-resolver",
      {
        "extensions": [".js", ".ts", ".tsx", ".ios.js", ".android.js", ".ios.ts", ".android.ts"],
        "alias": {
          "common": "./components/common",
          "common/*": "./components/common/*",
          "components": "./components",
          "components/*": "./components/*",
          "constants": "./constants",
          "constants/*": "./constants/*",
          "screens": "./screens",
          "screens/*": "./screens/*",
          "hooks": "./hooks",
          "hooks/*": "./hooks/*",
          "assets": "./assets",
          "assets/*": "./assets/*",
          "interaction": "./components/interaction",
          "interaction/*": "./components/interaction/*",
          "layout": "./components/layout",
          "layout/*": "./components/layout/*",
          "typography": "./components/typography",
          "typography/*": "./components/typography/*",
          "services": "./services",
          "services/*": "./services/*",
          "queries": "./queries",
          "queries/*": "./queries/*",
          "modules": "./modules",
          "modules/*": "./modules/*",
          "styles": "./styles"
        }
      }
    ]
  ]
}