<html>
  <head>
    <title>Confirm your email address</title>
  </head>
  <body>
    <div>
      <span style="font-weight: bold;">Message: </span>
      <span>{{message}}</span>
    </div>
  </body>
</html>